<div class="well">
  <div class="alert alert-primary" role="alert">
    <h4>Enter Activity</h4>
  </div>
  <div class="panel-body">
    <div class='form-group'>
        <label>Title of Activity</label>
        <input type="text" class='form-control' id='activity' [(ngModel)]='activity'>          
    </div>
   <div class='form-group'>
     <label>Duration</label>
     <input type="text" class="form-control" id='duration' [(ngModel)]='duration' placeholder="example: 32 mins 44 secs">
   </div>
    <div class='form-group'>
      <label>Notes</label>
      <textarea class="form-control" rows="3" [(ngModel)]='notes' ></textarea>
    </div>
    <div class="form-group">
      <label>User</label>
      <input type="text" class="form-control" id='user' [(ngModel)]='user' placeholder="Your name 'be unique!'">
    </div>
    <div class='form-group'>
        <button class="btn btn-primary" (click)='createLogEntry()'>Record Activity</button>
    </div>
  </div>
</div>

