<div class="well">
  <div class="alert alert-primary" role="alert">
    <h4>Enter Activity</h4>
  </div>
  <div class="panel-body">
    <div class='form-group'>
        <label>Title of Activity</label>
        <input type="text" class='form-control' id='messageto'>          
    </div>
   <div class='form-group'>
     <label>Duration</label>
     <input type="text" class="form-control" id='duration' placeholder="example: 32 mins 44 secs">
   </div>
    <div class='form-group'>
      <label>Notes</label>
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class='form-group'>
        <button class="btn btn-primary">Record Activity</button>
    </div>
  </div>
</div>

